@tailwind base;
@tailwind components;
@tailwind utilities;

.gifimg {
    background: white;
    border-radius: 50%;
    outline: 21px solid #0051c8;
}

.from_input {
    background: transparent;
    border-bottom: 1px solid aliceblue;
    padding: 15px;
    color: white;
    margin-bottom: 15px;
}

.potfolio_img {
    background: white;
    box-shadow: 0px 2px 15px #0051c8;
    border: 2px solid wheat;
}

.potfolio {
    background: linear-gradient(to right, #3dadff3d, #0051c86b);
}


